In [10]:
# Based on the Datacamp exersizes at https://campus.datacamp.com/courses/introduction-to-importing-data-in-python/working-with-relational-databases-in-python-3?ex=3
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

# Open engine connection: con
con = engine.connect()

#Define query for Q10
query = '''SELECT f.name AS facility, SUM(CASE WHEN b.memid=0 THEN f.guestcost ELSE f.membercost END) AS revenue
FROM Bookings AS b
LEFT JOIN Facilities AS f
ON b.facid=f.facid
GROUP BY f.name
HAVING SUM(CASE WHEN b.memid=0 THEN f.guestcost ELSE f.membercost END) < 1000
ORDER BY revenue DESC '''

# Perform query: rs
rs = con.execute(query)

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Print head of DataFrame df
print(df)

                 0      1
0  Badminton Court  604.5
1       Pool Table  265.0
2    Snooker Table  115.0
3     Table Tennis   90.0

In [12]:
#Define query for Q11
query2 = '''SELECT (m.surname||", "||m.firstname) AS member, (mem.surname||", "||mem.firstname) AS recommender 
FROM Members AS m
LEFT JOIN Members AS mem
ON m.recommendedby=mem.memid
WHERE m.memid!=0
ORDER BY recommender'''

rs2 = con.execute(query2)

# Save results of the query to DataFrame: df2
df2 = pd.DataFrame(rs2.fetchall())

# Print head of DataFrame df
print(df2)

                           0                   1
0              Smith, Darren                None
1               Smith, Tracy                None
2                Rownam, Tim                None
3              Tracy, Burton                None
4            Farrell, Jemima                None
5             Farrell, David                None
6       Tupperware, Hyacinth                None
7              Smith, Darren                None
8          Sarwin, Ramnaresh     Bader, Florence
9               Coplin, Joan      Baker, Timothy
10          Genting, Matthew     Butters, Gerald
11            Baker, Timothy     Farrell, Jemima
12             Pinker, David     Farrell, Jemima
13         Rumney, Henrietta    Genting, Matthew
14            Jones, Douglas        Jones, David
15               Dare, Nancy    Joplette, Janice
16              Jones, David    Joplette, Janice
17                Hunt, John  Purview, Millicent
18               Boothe, Tim         Rownam, Tim
19          Joplette, Janice       Smith, Darren
20           Butters, Gerald       Smith, Darren
21             Owen, Charles       Smith, Darren
22               Smith, Jack       Smith, Darren
23           Mackenzie, Anna       Smith, Darren
24  Worthington-Smyth, Henry        Smith, Tracy
25        Purview, Millicent        Smith, Tracy
26            Crumpet, Erica        Smith, Tracy
27               Baker, Anne    Stibbons, Ponder
28           Bader, Florence    Stibbons, Ponder
29          Stibbons, Ponder       Tracy, Burton

In [13]:
#Define query for Q12
query3 = '''SELECT (m.surname||", "||m.firstname) AS member, f.name AS facility, COUNT(b.bookid) AS num_uses
FROM Bookings AS b
LEFT JOIN Facilities AS f
ON b.facid=f.facid
LEFT JOIN Members AS m
ON b.memid=m.memid
WHERE m.memid!=0
GROUP BY b.memid'''

rs3 = con.execute(query3)

# Save results of the query to DataFrame: df3
df3 = pd.DataFrame(rs3.fetchall())

# Print head of DataFrame df
print(df3)

                           0                1    2
0              Smith, Darren     Table Tennis  261
1               Smith, Tracy   Tennis Court 1  210
2                Rownam, Tim   Massage Room 1  408
3           Joplette, Janice   Massage Room 1  159
4            Butters, Gerald   Tennis Court 1  163
5              Tracy, Burton   Tennis Court 2  176
6                Dare, Nancy  Badminton Court  117
7                Boothe, Tim   Tennis Court 2  188
8           Stibbons, Ponder   Tennis Court 2  104
9              Owen, Charles   Tennis Court 1  131
10              Jones, David   Tennis Court 2  115
11               Baker, Anne   Tennis Court 1  118
12           Farrell, Jemima     Table Tennis   80
13               Smith, Jack   Massage Room 1   89
14           Bader, Florence  Badminton Court  120
15            Baker, Timothy   Tennis Court 2  166
16             Pinker, David    Snooker Table   71
17          Genting, Matthew   Massage Room 2   72
18           Mackenzie, Anna  Badminton Court  126
19              Coplin, Joan    Snooker Table   53
20         Sarwin, Ramnaresh   Tennis Court 2   70
21            Jones, Douglas  Badminton Court   14
22         Rumney, Henrietta    Snooker Table   20
23            Farrell, David   Tennis Court 1   34
24  Worthington-Smyth, Henry  Badminton Court   41
25        Purview, Millicent  Badminton Court   16
26      Tupperware, Hyacinth    Snooker Table   16
27                Hunt, John   Tennis Court 1   15
28            Crumpet, Erica  Badminton Court    7

In [15]:
#Define query for Q13
query4 = '''SELECT f.name AS facility, strftime('%m',b.starttime) AS Month, COUNT(b.bookid) AS num_uses
FROM Bookings AS b
LEFT JOIN Facilities AS f
ON b.facid=f.facid
LEFT JOIN Members AS m
ON b.memid=m.memid
WHERE m.memid!=0
GROUP BY b.facid
ORDER BY num_uses DESC'''

rs4 = con.execute(query4)

# Save results of the query to DataFrame: df4
df4 = pd.DataFrame(rs4.fetchall())

# Print head of DataFrame df
print(df4)

                 0   1    2
0       Pool Table  07  783
1    Snooker Table  07  421
2   Massage Room 1  07  421
3     Table Tennis  07  385
4  Badminton Court  07  344
5   Tennis Court 1  07  308
6   Tennis Court 2  07  276
7     Squash Court  07  195
8   Massage Room 2  07   27

In [16]:
# Close connection
con.close()